{% extends "viewer_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Welcome{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        <h3>Announcement</h3>
        {% if announcement %}
            <p><b>{{ announcement.subject }}</b></p>
            <small class="text-muted">Date issued: {{ announcement.issue_date}}</small>
            <p>
                {{ announcement.detail }}
            </p>
        {% else %}
            <p>
                No announcement
            </p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="login-box">

            <!-- login-box-body -->
            <div class="login-box-body">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li
                            {% if message.tags %}
                                {% if message.tags == 'error' %}
                                    class='text-red'
                                {% endif %}
                                {% if message.tags == 'success' %}
                                    class='text-green'
                                {% endif %}
                            {% endif %}>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if not messages %}
                    <p class="login-box-msg">Welcome Merchant!</p>
                {% endif %}

                <!-- login form -->
                <form action=".?next={{ redirect_to }}" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="text"
                               name="username"
                               required="true"
                               class="form-control"
                               placeholder="Username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password"
                               name="password"
                               required="true"
                               class="form-control"
                               placeholder="Password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                            <!-- filler -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                    </div>
                </form>
                <!-- end login form -->
            </div>
            <!-- end login-box-body -->
        </div>
    </div>
</div>
{% endblock %}
