{% extends "viewer_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Change Password{% endblock %}

{% block navbarmenu %}
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li>
            <a href="#">{{ user.username }}</a>
        </li>
        <li>
            <a href="{% url 'viewer_logout' %}"><i class="fa fa-sign-out"></i></a>
        </li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}
<h1>
    Change Password
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
    <li class="active">Change Password</li>
</ol>
{% endblock %}

{% block callouts %}
    {% if form.non_field_errors %}
    <div class="callout callout-danger">
        <ul>
        {% for error in form.non_field_errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
            <form action="{% url 'viewer_change_password' %}" method="post">
            {% csrf_token %}
                {% if form.old_password.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="{{ form.old_password.id_for_label }}">
                        Old Password
                        <ul>
                        {% for error in form.old_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </label>
                    <!-- widget -->
                    {{ form.old_password }}
                </div>

                {% if form.new_password1.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="{{ form.new_password1.id_for_label }}">
                        New Password
                        <ul>
                        {% for error in form.new_password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </label>
                    {% if form.new_password1.help_text %}
                        <p class="help-block">{{ form.new_password1.help_text|safe }}</p>
                    {% endif %}
                    <!-- widget -->
                    {{ form.new_password1 }}
                </div>

                {% if form.new_password2.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="{{ form.new_password2.id_for_label }}">
                        Confirm New Password
                        <ul>
                        {% for error in form.new_password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </label>
                    <!-- widget -->
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
</div>
{% endblock %}

{% block pagescripts %}
<script>
    $(function () {
        $('input[type="password"]').addClass('form-control');
    })
</script>
{% endblock %}