{% extends "viewer_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Payout{% endblock %}

{% block navbarmenu %}
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li>
            <a href="#">{{ user.username }}</a>
        </li>
        <li>
            <a href="{% url 'viewer_logout' %}"><i class="fa fa-sign-out"></i></a>
        </li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}
<h1>
    Payout
    <small>{{ payout.id }}</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
    <li class="active">Payout</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Payout ID</b>
                        <span class="pull-right text-muted">{{ payout.id }}</span>
                    </li>
                    {% if payout.merchant %}
                        <li class="list-group-item">
                            <b>Merchant Name</b>
                            <a href="{% url 'merchant_detail' user_id=payout.merchant.id %}" class="pull-right">
                                <b>
                                {{ payout.merchant.first_name }}
                                {{ payout.merchant.last_name }}
                                </b>
                            </a>
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>Reference Number</b>
                        <span class="pull-right text-muted">{{ payout.reference_number }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Date</b>
                        <span class="pull-right text-muted">{{ payout.date }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Amount</b>
                        <span class="pull-right text-muted">{{ payout.amount }}</span>
                    </li>
                    {% if payout.bank %}
                    <li class="list-group-item">
                        <b>Bank Account</b>
                        <span class="pull-right text-muted">
                            {{ payout.bank.bank }} ({{ payout.bank.account }})
                        </span>
                    </li>
                    <li class="list-group-item">
                        <b>Bank Account Owner</b>
                        <span class="pull-right text-muted">{{ payout.bank.owner }}</span>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>Remarks</b>
                        <span class="pull-right text-muted">{{ payout.remarks }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Total sales: {{ sum }} </h3>
            </div>
            {% if sales %}
            <div class="box-body">
                <table id="sale_table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Quantity</th>
                            <th>Date</th>
                            <th>Gross</th>
                            <th>Net</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>
                                    {{ sale.item }}
                                </td>
                                <td>
                                    {{ sale.quantity }}
                                </td>
                                <td>
                                    {{ sale.date }}
                                </td>
                                <td>
                                    {{ sale.gross }}
                                </td>
                                <td>
                                    {{ sale.net }}
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
        $('#sale_table').DataTable({
            'paging'      : false,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
{% endblock %}
