container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  02_createsu:
    command: "python3 manage.py createsu"
    leader_only: true
  03_creategroup:
    command: "python3 manage.py creategroup"
    leader_only: true
  04_populate:
    command: "python3 manage.py populate"
    leader_only: true
  05_collectstatic:
    command: "python3 manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "thecubestore.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "thecubestore/wsgi.py"
    StaticFiles: "/static/=www/static/"
