{% extends "system_app/base.html" %}

{% load mathfilters %}
{% load staticfiles %}
{% block pagetitle %}Dashboard{% endblock %}

{% block breadcrumb %}
<h1>
    Dashboard
</h1>
<ol class="breadcrumb">
    <li class="active"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <section class="col-lg-12 connectedSortable">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#items" data-toggle="tab">Items</a></li>
                    <li><a href="#sales" data-toggle="tab">Sales</a></li>
                    <li><a href="#merchants" data-toggle="tab">Merchants</a></li>
                    <li><a href="#payouts" data-toggle="tab">Payouts</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="items">
                        <table id="item_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Desciption</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <form action="{% url 'sales_add' %}" method="post">
                                        {% csrf_token %}
                                        <td>
                                            <a href="{% url 'item_detail' item_id=item.id %}">
                                                {{ item.code }}
                                            </a>
                                            <input type="hidden" name="item" value="{{ item.id }}">
                                        </td>
                                        <td>
                                            {{ item.description }}
                                        </td>
                                        <td>
                                            {{ item.quantity }}
                                        </td>
                                        <td>
                                            {{ item.price }}
                                        </td>
                                        <td>
                                            <input type="number"
                                                   name="quantity"
                                                   id="quantityInput"
                                                   max="{{ item.quantity }}"
                                                   min="1"
                                                   value="1"
                                                   required="true"
                                                   class="form-control pull-right"
                                                   placeholder="Quantity of item posited in cube">
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-info btn-flat pull-right">
                                                <i class="fa fa-shopping-basket"></i>
                                            </button>
                                        </td>
                                    </form>
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="sales">
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>{{ unpaid }}<sup style="font-size: 20px">Php</sup></h3>

                                    <p>Unpaid Sales</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div>

                        <table id="sales_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Date</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Gross</th>
                                    <th>Net</th>
                                    <th>Payout</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in sales %}
                                    <tr>
                                        <td>
                                            {{ sale.item }}
                                        </td>
                                        <td>
                                            {{ sale.date|date:'Y-m-d' }}
                                        </td>
                                        <td>
                                            {{ sale.quantity }}
                                        </td>
                                        <td>
                                            {{ sale.gross|div:sale.quantity }}
                                        </td>
                                        <td>
                                            {{ sale.gross }}
                                        </td>
                                        <td>
                                            {{ sale.net }}
                                        </td>
                                        <td>
                                            {% if sale.payout %}
                                                <a href="{% url 'payout_detail' payout_id=sale.payout %}">
                                                    {{ sale.payout }}
                                                </a>
                                            {% else %}
                                                <i>Unpaid</i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="merchants">
                        <table id="merchants_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Contact Number</th>
                                    <th>Next Due Date</th>
                                    <th>Cube</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for merchant in merchants %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'merchant_detail' user_id=merchant.profile.id %}">
                                                {{ merchant.profile.merchant_id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'merchant_detail' user_id=merchant.profile.id %}">
                                                {{ merchant.profile.first_name }}
                                                {{ merchant.profile.last_name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ merchant.contact.contact_number }}
                                        </td>
                                        <td>
                                            {{ merchant.cube.next_due_date|date:'Y-m-d' }}
                                        </td>
                                        <td>
                                            <a href="{% url 'cube_detail' cube_id=merchant.cube.id %}">
                                                {{ merchant.cube.unit }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="payouts">
                        <table id="payout_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Payout ID</th>
                                    <th>Merchant ID</th>
                                    <th>Date</th>
                                    <th>Bank</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payout in payouts %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'payout_detail' payout_id=payout.id %}">
                                                {{ payout.id }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ payout.merchant.id|stringformat:"05d" }}
                                        </td>
                                        <td>
                                            {{ payout.date|date:'Y-m-d' }}
                                        </td>
                                        <td>
                                            {{ payout.bank.bank }} - {{ payout.bank.account }}
                                        </td>
                                        <td>
                                            {{ payout.amount }}
                                        </td>
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end Main row -->
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
        $('#item_table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        });

        $('#sales_table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'order'       : [[1, 'desc']]
        });

        $('#merchants_table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'order'       : [[3, 'desc']]
        });

        $('#payout_table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'order'       : [[2, 'desc']]
        })
    })
</script>
{% endblock %}