{% extends "system_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Merchants{% endblock %}

{% block breadcrumb %}
<h1>
    {{ form.instance.user.first_name }} {{ form.instance.user.last_name }}'s
    <small>BANK DETAILS</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'merchant_all' %}">Merchants</a></li>
    <li><a href="{% url 'merchant_detail' user_id=form.instance.user.id %}">Profile</a></li>
    <li><a class="active">Bank Details</a></li>
</ol>
{% endblock %}

{% block callouts %}
    {% if form.non_field_errors %}
    <div class="callout callout-danger">
        <ul>
        {% for error in form.non_field_errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <form action="{% url 'bank_edit' bank_id=form.instance.id %}" method="post">
        {% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        {% if form.bank.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                            <label for="{{ form.bank.id_for_label }}">
                                Bank Name
                                <ul>
                                {% for error in form.bank.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </label>
                            <!-- widget -->
                            {{ form.bank }}
                        </div>

                        {% if form.account.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                            <label for="{{ form.account.id_for_label }}">
                                Bank Account
                                <ul>
                                {% for error in form.account.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </label>
                            <!-- widget -->
                            {{ form.account }}
                        </div>

                        {% if form.owner.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                            <label for="{{ form.owner.id_for_label }}">
                                Bank Account Owner
                                <ul>
                                {% for error in form.owner.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </label>
                            <!-- widget -->
                            {{ form.owner }}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
