{% extends "system_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Merchants{% endblock %}

{% block breadcrumb %}
<h1>
    {{ form.instance.user.first_name }} {{ form.instance.user.last_name }}'s
    <small>CONTACT INFO</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'merchant_all' %}">Merchants</a></li>
    <li><a href="{% url 'merchant_detail' user_id=form.instance.user.id %}">Profile</a></li>
    <li><a class="active">Contact Info</a></li>
</ol>
{% endblock %}

{% block callouts %}
    {% if form.non_field_errors %}
    <div class="callout callout-danger">
        <ul>
        {% for error in form.non_field_errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <form action="{% url 'contact_edit' contact_id=form.instance.id %}" method="post">
        {% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                            {% if form.contact_number.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <label for="{{ form.contact_number.id_for_label }}">
                                    Contact Number
                                    <ul>
                                    {% for error in form.contact_number.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </label>
                                <!-- widget -->
                                {{ form.contact_number }}
                            </div>

                            {% if form.primary_address.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <label for="{{ form.primary_address.id_for_label }}">
                                    Address
                                    <ul>
                                    {% for error in form.primary_address.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </label>
                                <!-- widget -->
                                {{ form.primary_address }}
                            </div>

                            {% if form.alternate_address.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <label for="{{ form.alternate_address.id_for_label }}">
                                    Alternate Address
                                    <ul>
                                    {% for error in form.alternate_address.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </label>
                                <!-- widget -->
                                {{ form.alternate_address }}
                            </div>

                            {% if user_form.email.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <label for="{{ user_form.email.id_for_label }}">
                                    Email
                                    <ul>
                                    {% for error in user_form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </label>
                                <!-- widget -->
                                {{ user_form.email }}
                            </div>
                        </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block pagescripts %}
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('[data-mask]').inputmask();
    });
</script>
{% endblock %}
