{% extends "system_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Merchants{% endblock %}

{% block breadcrumb %}
<h1>
    Merchant
    <small>PROFILE</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'merchant_all' %}">Merchants</a></li>
    <li class="active">Profile</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{ profile.first_name }} {{ profile.last_name }}</h3>
                <p class="text-muted text-center">Merchant ID: {{ profile.merchant_id }}</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Store</b>
                        <a href="{% url 'store_edit' store_id=store.id %}" class="pull-right">
                            <b>{{ store.name }}</b>
                        </a>
                    </li>
                    {% if store.facebook %}
                        <li class="list-group-item">
                            <b>Facebook</b>
                            <a class="pull-right">
                                {{ store.facebook }}
                            </a>
                        </li>
                    {% endif %}
                    {% if store.instagram %}
                        <li class="list-group-item">
                            <b>Instagram</b>
                            <a class="pull-right">
                                {{ store.instagram }}
                            </a>
                        </li>
                    {% endif %}
                    {% if store.website %}
                        <li class="list-group-item">
                            <b>Website</i></b>
                            <a class="pull-right">
                                {{ store.website }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Contact Info</h3>
                <div class="tools">
                    <a href="{% url 'contact_edit' contact_id=contact.id %}" class="pull-right">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <strong><i class="fa fa-mobile margin-r-5"></i> Contact Number</strong>
                <p class="text-muted">
                    {{ contact.contact_number }}
                </p>

                {% if profile.email %}
                    <strong><i class="fa fa-at margin-r-5"></i> E-mail</strong>
                    <p class="text-muted" style="overflow:hidden;">
                        {{ profile.email }}
                    </p>
                {% endif %}

                {% if profile.primary_address %}
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Primary Address</strong>
                    <p class="text-muted">
                        {{ contact.primary_address }}
                    </p>
                {% endif %}

                {% if profile.alternate_address %}
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Alternate Address</strong>
                    <p class="text-muted">
                        {{ contact.alternate_address }}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Bank Details</h3>
                <a href="{% url 'bank_edit' bank_id=bank.id %}" class="pull-right">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
            <div class="box-body">
                <strong><i class="fa fa-bank margin-r-5"></i> Bank</strong>
                <p class="text-muted">
                    {{ bank.bank }}
                </p>

                <strong><i class="fa fa-money margin-r-5"></i> Account</strong>
                <p class="text-muted" style="overflow:hidden;">
                    {{ bank.account }}
                </p>

                <strong><i class="fa fa-handshake-o margin-r-5"></i> Owner</strong>
                <p class="text-muted">
                    {{ bank.owner }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#cube" data-toggle="tab">Cubes</a></li>
                <li><a href="#payout" data-toggle="tab">Payouts</a></li>
                <li><a href="#sales" data-toggle="tab">Sales</a></li>
                <li class="pull-right"><a href="#settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
                <div id="cube" class="active tab-pane">
                    <table id="cube_table" class="table table-bordered table-striped">
                        <colgroup>
                            <col style="width:40%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Unit</th>
                                <th>Next Due Date</th>
                                <th>Monthly Rate</th>
                                <th>
                                    <button type="button" class="btn btn-default pull-right">
                                        <a href="{% url 'cube_add' user_id=profile.id %}" class="pull-right">
                                            <i class="fa fa-plus"></i> Add
                                        </a>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="payout" class="tab-pane">
                    <table id="payout_table" class="table table-bordered table-striped">
                        <colgroup>
                            <col style="width:40%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Ref. No.</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>
                                    <button type="button" class="btn btn-default pull-right">
                                        <a href="{% url 'payout_add' user_id=profile.id %}" class="pull-right">
                                            <i class="fa fa-plus"></i> Add
                                        </a>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="sales" class="tab-pane">
                    <div class="col-lg-12 col-xs-12 ">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>{{ unpaid }}<sup style="font-size: 20px">Php</sup></h3>
                                <p>Unpaid Sales</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-cash"></i>
                            </div>
                        </div>
                    </div>

                    <table id="sales_table" class="table table-bordered table-striped">
                        <colgroup>
                            <col style="width:30%">
                            <col style="width:20%">
                            <col style="width:5%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:125%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Date</th>
                                <th>Qty</th>
                                <th>Gross</th>
                                <th>Net</th>
                                <th>Payout</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="settings">
                    <form action="{% url 'profile_edit' profile_id=form.instance.merchant_id %}" method="post">
                    {% csrf_token %}
                        <div class="box-body">
                            {% if form.merchant_id.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <label for="{{ form.merchant_id.id_for_label }}">
                                    Merchant ID
                                    <ul>
                                    {% for error in form.merchant_id.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </label>
                                <!-- widget -->
                                {{ form.merchant_id }}
                            </div>

                            {% if form.remarks.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <label for="{{ form.remarks.id_for_label }}">
                                    Remarks
                                    <ul>
                                    {% for error in form.remarks.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </label>
                                <!-- widget -->
                                {{ form.remarks }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </form>
                    <form action="{% url 'merchant_delete' user_id=profile.id %}" method="post" id="delete_form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" id="delete_btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="dialog-confirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Merchant</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete merchant: {{ profile.first_name }} {{ profile.last_name }}?</p>
                <p>This would also delete all related records.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="yes_btn">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
        var dt_language = {
            "emptyTable":     "{{ 'No data available in table' }}",
            "info":           "{{ 'Showing _START_ to _END_ of _TOTAL_ entries' }}",
            "infoEmpty":      "{{ 'Showing 0 to 0 of 0 entries' }}",
            "infoFiltered":   "{{ '(filtered from _MAX_ total entries)' }}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{{ 'Show _MENU_ entries' }}",
            "loadingRecords": "{{ 'Loading...' }}",
            "processing":     "{{ 'Processing...' }}",
            "search":         "{{ 'Search:' }}",
            "zeroRecords":    "{{ 'No matching records found' }}",
            "paginate": {
                "first":      "{{ 'First' }}",
                "last":       "{{ 'Last' }}",
                "next":       "{{ 'Next' }}",
                "previous":   "{{ 'Previous' }}"
            },
            "aria": {
                "sortAscending":  "{{ ': activate to sort column ascending' }}",
                "sortDescending": "{{ ': activate to sort column descending' }}"
            }
        }
        $('#cube_table').dataTable({
            language: dt_language,
            lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
            columnDefs: [
                {
                    orderable: false,
                    searchable: false,
                    targets: [3]
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: "{% url 'merchants_cube_json' user_id=profile.id %}"
        });
        $('#payout_table').dataTable({
            language: dt_language,
            lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
            columnDefs: [
                {
                    orderable: false,
                    searchable: false,
                    targets: [3]
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: "{% url 'merchants_payout_json' user_id=profile.id %}"
        });
        $('#sales_table').dataTable({
            language: dt_language,
            lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: "{% url 'merchants_sale_json' user_id=profile.id %}"
        });
        $('#delete_btn').on('click', function (event) {
            event.preventDefault();
            $("#dialog-confirm").modal('show');
        });
        $('#yes_btn').on('click', function (event) {
            $("#delete_form").submit();
            $("#dialog-confirm").modal('hide');
        });
    })
</script>
{% endblock %}