{% extends "system_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Announcements{% endblock %}

{% block breadcrumb %}
<h1>
    Announcements
    <small>DELETE</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'announcement_all' %}">Announcements</a></li>
    <li class="active">Delete</li>
</ol>
{% endblock %}

{% block callouts %}
    <div class="callout callout-warning">
        <p>Are you sure you want to delete this announcement?</p>
        <form action="{% url 'announcement_delete' announcement_id=announcement.id %}" method="post">
            {% csrf_token %}
            <a href="{% url 'announcement_detail' announcement_id=announcement.id %}" class="pull-right">Back</a>
            <button type="submit" class="btn btn-default btn-sm">Yes</button>
        </form>
    </div>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Date Issued</b>
                        <span class="pull-right text-muted">{{ announcement.issue_date }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Subject</b>
                        <span class="pull-right text-muted">{{ announcement.amount }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Detail</b>
                        <p>{{ announcement.detail }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}